<!-- Header area start here -->
<div class="top__header pt-30 pb-30" style="background-color: #191919;">
  <div class="container">
    <div class="top__wrapper">
      <a href="/" class="">
        <img height="70px" src="/assets/images/logo/logo.png" alt="">
      </a>
      <div class="search__wrp" style="margin-left: 5%">
        <form action="/api/v1/search" method="GET">
          <input name="q" placeholder="Search for" aria-label="Search">
          <button type="submit"><i class="fa-solid fa-search"></i></button>
        </form>
      </div>

      <div class="account__wrap">

        <div class="account d-flex align-items-center">
          <a href="/account" class="acc__cont"><span>My Account</span></a>
        </div>


        <div class="account d-flex align-items-center">
          <a  href="/account" class="acc__cont"><span>My Account</span></a>
        </div>

        <div class="account d-flex align-items-center">
          <div class="user__icon">
            <a href="#0"><i class="fa-regular fa-user"></i></a>
          </div>
          <a href="/account" class="acc__cont"><span>My Account</span></a>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- Header area end here -->

<header class="header-section">
  <div class="container">
    <div class="header-wrapper">
      <div class="header-bar d-lg-none">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="main-menu" style="margin-top: 1%">
        <li>
          <a href="/">Home</a>
        </li>

        <li>
          <a href="#0">Lures/Swimbaits <i class="fa-regular fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="subtwohober">
              <a href="shop.html">
                Soft Lures
              </a>
            </li>
            <li class="subtwohober">
              <a href="shop-2.html">
                Dropshots
              </a>
            </li>
            <li class="subtwohober">
              <a href="shop-single.html">
                Jerkbaits
              </a>
            </li>
            <li class="subtwohober">
              <a href="cart.html">
                Top Water
              </a>
            </li>

            <li class="subtwohober">
              <a href="cart.html">
                (For Each Lures Categories)
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#0">DIY Lure Kits <i class="fa-regular fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="subtwohober">
              <a href="shop.html">
                Injection Molding
              </a>
            </li>

            <li class="subtwohober">
              <a href="cart.html">
                3D Printing
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#0">Blogs <i class="fa-regular fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="subtwohober">
              <a href="shop.html">
                DIY Lure Making
              </a>
            </li>

            <li class="subtwohober">
              <a href="cart.html">
                (For Each Blog Categories)
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#0">DIY Guides <i class="fa-regular fa-angle-down"></i></a>
          <ul class="sub-menu">
            <li class="subtwohober">
              <a href="shop.html">
                DIY Lure Making
              </a>
            </li>

            <li class="subtwohober">
              <a href="cart.html">
                (For Each Blog Categories)
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="contact.html">Contact Us</a>
        </li>
      </ul>
      <div class="shipping__item d-none d-sm-flex align-items-center">
        <div class="menu__right d-flex align-items-center">
          <div class="cart d-flex align-items-center cart--header-secondary">
            <span class="cart__icon">
              <i class="fa-regular fa-cart-shopping"></i>
            </span>
            <a class="c__one" data-cart-toggle="true">
              <span class="cart-total">&pound;0.00</span>
            </a>
            <span class="one cart-count" style="background-color: #fa4f09;">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
