  <!-- WIDGET LINE WRAP -->
  <div class="widget-line-wrap widget-line-1">
    <!-- WIDGET LINE -->
    <div class="widget-line">
      <!-- ACTIONS LIST -->
      <ul class="actions-list left">
        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <!-- SOCIAL LINK -->
          <div class="social-link">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
          <!-- /SOCIAL LINK -->
        </li>
        <!-- ACTIONS LIST ITEM -->

        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <!-- SOCIAL LINK -->
          <div class="social-link">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <!-- /SOCIAL LINK -->
        </li>
        <!-- ACTIONS LIST ITEM -->

        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <!-- SOCIAL LINK -->
          <div class="social-link">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
          <!-- /SOCIAL LINK -->
        </li>
        <!-- ACTIONS LIST ITEM -->

        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <!-- SOCIAL LINK -->
          <div class="social-link">
            <a href="#">
              <i class="fa fa-rss"></i>
            </a>
          </div>
          <!-- /SOCIAL LINK -->
        </li>
        <!-- ACTIONS LIST ITEM -->

        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <!-- SOCIAL LINK -->
          <div class="social-link">
            <a href="#">
              <i class="fa fa-vimeo"></i>
            </a>
          </div>
          <!-- /SOCIAL LINK -->
        </li>
        <!-- ACTIONS LIST ITEM -->
      </ul>
      <!-- ACTIONS LIST -->

      <!-- ACTIONS LIST -->
      <ul class="actions-list right">
        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <a class="action-button options-dropdown dropdown-control click-closable" href="#">
            <span class="language-selected-option">eng</span>
            <!-- SVG ARROW -->
  				<svg class="svg-arrow small face-down">
  					<use xlink:href="#svg-arrow"></use>
  				</svg>
  				<!-- /SVG ARROW -->
          </a>

          <!-- DROPDOWN LIST -->
          <ul class="dropdown-list dropdown">
            <li data-language="eng" class="dropdown-list-item language-option selected">
              <a href="#">eng</a>
            </li>
            <li data-language="spa" class="dropdown-list-item language-option">
              <a href="#">spa</a>
            </li>
            <li data-language="ger" class="dropdown-list-item language-option">
              <a href="#">ger</a>
            </li>
          </ul>
          <!-- /DROPDOWN LIST -->
        </li>
        <!-- ACTIONS LIST ITEM -->

        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <a class="action-button options-dropdown dropdown-control click-closable" href="#">
            <span class="currency-selected-option">gbp</span>
            <!-- SVG ARROW -->
  				<svg class="svg-arrow small face-down">
  					<use xlink:href="#svg-arrow"></use>
  				</svg>
  				<!-- /SVG ARROW -->
          </a>

          <!-- DROPDOWN LIST -->
          <ul class="dropdown-list dropdown">
            <li data-currency="gbp" class="dropdown-list-item currency-option selected">
              <a href="#">gbp</a>
            </li>
            <li data-currency="euro" class="dropdown-list-item currency-option">
              <a href="#">euro</a>
            </li>
          </ul>
          <!-- /DROPDOWN LIST -->
        </li>
        <!-- ACTIONS LIST ITEM -->

        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <a class="action-button" href="/account">My Account</a>
        </li>
        <!-- ACTIONS LIST ITEM -->

        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <a class="action-button" href="/wishlist.html">Wishlist<span class="bold">4</span></a>
        </li>
        <!-- ACTIONS LIST ITEM -->

        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <a class="action-button regular popup-trigger" href="#login-popup">Logout</a>
        </li>
        <!-- ACTIONS LIST ITEM -->

        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item">
          <!-- SEARCH FORM -->
          <form class="search-form">
            <input type="text" name="search" autocomplete="off" placeholder="Search products here...">
            <!-- SEARCH SUBMIT -->
            <div class="search-submit">
              <!-- SVG MAG GLASS -->
    				<svg class="svg-mag-glass">
    					<use xlink:href="#svg-mag-glass"></use>
    				</svg>
    				<!-- /SVG MAG GLASS -->
            </div>
            <!-- /SEARCH SUBMIT -->

            <!-- SEARCH CANCEL -->
            <div class="search-cancel hidden">
              <!-- SVG CROSS -->
    				<svg class="svg-cross">
    					<use xlink:href="#svg-cross"></use>
    				</svg>
    				<!-- /SVG CROSS -->
            </div>
            <!-- /SEARCH CANCEL -->
          </form>
          <!-- /SEARCH FORM -->
        </li>
        <!-- ACTIONS LIST ITEM -->
      </ul>
      <!-- ACTIONS LIST -->
    </div>
    <!-- WIDGET LINE -->
  </div>
  <!-- WIDGET LINE WRAP -->

  <!-- WIDGET LINE WRAP -->
  <div class="widget-line-wrap widget-line-2">
    <!-- WIDGET LINE -->
    <div class="widget-line">
      <!-- ACTIONS LIST -->
      <ul class="actions-list">
        <!-- ACTIONS LIST ITEM -->
        <li class="actions-list-item full void">
          <!-- SEARCH FORM -->
          <form class="search-form">
            <input type="text" name="search" autocomplete="off" placeholder="Search products here...">
            <!-- SEARCH SUBMIT -->
            <div class="search-submit">
              <!-- SVG MAG GLASS -->
    				<svg class="svg-mag-glass">
    					<use xlink:href="#svg-mag-glass"></use>
    				</svg>
    				<!-- /SVG MAG GLASS -->
            </div>
            <!-- /SEARCH SUBMIT -->

            <!-- SEARCH CANCEL -->
            <div class="search-cancel hidden">
              <!-- SVG CROSS -->
    				<svg class="svg-cross">
    					<use xlink:href="#svg-cross"></use>
    				</svg>
    				<!-- /SVG CROSS -->
            </div>
            <!-- /SEARCH CANCEL -->
          </form>
          <!-- /SEARCH FORM -->
        </li>
        <!-- ACTIONS LIST ITEM -->
      </ul>
      <!-- ACTIONS LIST -->
    </div>
    <!-- WIDGET LINE -->
  </div>
  <!-- WIDGET LINE WRAP -->

  <!-- NAVIGATION WRAP -->
  <div class="navigation-wrap">
    <!-- NAVIGATION -->
    <nav class="navigation">
      <!-- LOGO -->
      <figure class="logo">
        <img src="/img/logo.png" alt="logo">
        <figcaption>StrikeX</figcaption>
      </figure>
      <!-- /LOGO -->

      <!-- CART DROPDOWN WRAP -->
      <div class="cart-dropdown-wrap">
        <!-- CART DROPDOWN CONTROL -->
        <div class="cart-dropdown-control">
          <!-- SVG CART -->
          <svg class="svg-cart">
            <use xlink:href="#svg-cart"></use>
          </svg>
          <!-- /SVG CART -->

          <!-- SVG CROSS -->
          <svg class="svg-cross medium hidden">
            <use xlink:href="#svg-cross"></use>
          </svg>
          <!-- /SVG CROSS -->

          <!-- CART ITEM QUANTITY -->
          <div class="cart-item-quantity">
            <p>8</p>
          </div>
          <!-- /CART ITEM QUANTITY -->
        </div>
        <!-- /CART DROPDOWN CONTROL -->

        <!-- CART DROPDOWN -->
        <div class="cart-dropdown">
          <!-- CART DROPDOWN ITEMS -->
          <div class="cart-dropdown-items">
            <!-- CART DROPDOWN ITEM -->
            <div class="cart-dropdown-item">
              <!-- PRODUCT IMG -->
              <a href="/product-page-v1.html">
                <figure class="product-img small">
                  <img src="/img/products/02.jpg" alt="02">
                </figure>
              </a>
              <!-- /PRODUCT IMG -->

              <!-- CART DROPDOWN ITEM INFO -->
              <div class="cart-dropdown-item-info">
                <a href="/product-page-v1.html"><h6 class="title small">Poisonous Frog</h6></a>
                <p class="product-description small">For Outdoor Sports</p>
                <!-- RATING -->
                <ul class="rating small">
                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->
                </ul>
                <!-- /RATING -->
                <p class="product-quantity">x4</p>
                <p class="product-price">$600</p>
              </div>
              <!-- /CART DROPDOWN ITEM INFO -->

              <!-- SVG CROSS -->
              <svg class="svg-cross medium">
                <use xlink:href="#svg-cross"></use>
              </svg>
              <!-- /SVG CROSS -->
            </div>
            <!-- /CART DROPDOWN ITEM -->

            <!-- CART DROPDOWN ITEM -->
            <div class="cart-dropdown-item">
              <!-- PRODUCT IMG -->
              <a href="/product-page-v1.html">
                <figure class="product-img small">
                  <img src="/img/products/06.jpg" alt="06">
                </figure>
              </a>
              <!-- /PRODUCT IMG -->

              <!-- CART DROPDOWN ITEM INFO -->
              <div class="cart-dropdown-item-info">
                <a href="/product-page-v1.html"><h6 class="title small">Crashing Wave</h6></a>
                <p class="product-description small">Water Resistant</p>
                <!-- RATING -->
                <ul class="rating small">
                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->
                </ul>
                <!-- /RATING -->
                <p class="product-quantity">x2</p>
                <p class="product-price">$360</p>
              </div>
              <!-- /CART DROPDOWN ITEM INFO -->

              <!-- SVG CROSS -->
              <svg class="svg-cross medium">
                <use xlink:href="#svg-cross"></use>
              </svg>
              <!-- /SVG CROSS -->
            </div>
            <!-- /CART DROPDOWN ITEM -->

            <!-- CART DROPDOWN ITEM -->
            <div class="cart-dropdown-item">
              <!-- PRODUCT IMG -->
              <a href="/product-page-v1.html">
                <figure class="product-img small">
                  <img src="/img/products/05.jpg" alt="05">
                </figure>
              </a>
              <!-- /PRODUCT IMG -->

              <!-- CART DROPDOWN ITEM INFO -->
              <div class="cart-dropdown-item-info">
                <a href="/product-page-v1.html"><h6 class="title small">The Patriot</h6></a>
                <p class="product-description small">By Spiegel</p>
                <!-- RATING -->
                <ul class="rating small">
                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item filled">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->

                  <!-- RATING ITEM -->
                  <li class="rating-item">
                    <!-- SVG STAR -->
                    <svg class="svg-star">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                    <!-- /SVG STAR -->
                  </li>
                  <!-- /RATING ITEM -->
                </ul>
                <!-- /RATING -->
                <p class="product-quantity">x1</p>
                <p class="product-price">$185</p>
              </div>
              <!-- /CART DROPDOWN ITEM INFO -->

              <!-- SVG CROSS -->
              <svg class="svg-cross medium">
                <use xlink:href="#svg-cross"></use>
              </svg>
              <!-- /SVG CROSS -->
            </div>
            <!-- /CART DROPDOWN ITEM -->
          </div>
          <!-- CART DROPDOWN ITEMS -->

          <!-- CART DROPDOWN SUBTOTAL -->
          <div class="cart-dropdown-subtotal">
            <p class="title small">Cart Subtotal</p>
            <p class="product-price">$1145</p>
          </div>
          <!-- /CART DROPDOWN SUBTOTAL -->

          <!-- CART DROPDOWN ACTIONS -->
          <div class="cart-dropdown-actions">
            <a href="/cart" class="button dark large">Go to the Cart</a>
            <a href="/cart" class="button large" id="headerCheckoutButton">Go to Checkout</a>
          </div>
          <!-- /CART DROPDOWN ACTIONS -->
        </div>
        <!-- /CART DROPDOWN -->
      </div>
      <!-- /CART DROPDOWN WRAP -->
      <!-- MAIN MENU -->
      <ul class="main-menu">
        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/">Home</a>
        </li>
        <!-- /MAIN MENU ITEM -->

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/aboutus.html">About</a>
        </li>
        <!-- /MAIN MENU ITEM -->

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="#">
            Lures/Swimbaits
            <!-- SVG ARROW -->
            <svg class="svg-arrow face-down">
              <use xlink:href="#svg-arrow"></use>
            </svg>
            <!-- /SVG ARROW -->
          </a>

          <!-- MENU DROPDOWN -->
          <ul class="menu-dropdown">
            <!-- MENU DROPDOWN ITEM -->
            <li class="menu-dropdown-item">
              <a href="/shop-sidebar-grid.html">Sidebar 3 Col Grid</a>
            </li>
            <!-- /MENU DROPDOWN ITEM -->

            <!-- MENU DROPDOWN ITEM -->
            <li class="menu-dropdown-item">
              <a href="/shop-grid.html">4 Columns Grid</a>
            </li>
            <!-- /MENU DROPDOWN ITEM -->

            <!-- MENU DROPDOWN ITEM -->
            <li class="menu-dropdown-item">
              <a href="/shop-sidebar-list.html">Sidebar 3 Col List</a>
            </li>
            <!-- /MENU DROPDOWN ITEM -->

            <!-- MENU DROPDOWN ITEM -->
            <li class="menu-dropdown-item">
              <a href="/shop-list.html">4 Columns List</a>
            </li>
            <!-- /MENU DROPDOWN ITEM -->

            <!-- MENU DROPDOWN ITEM -->
            <li class="menu-dropdown-item">
              <a href="#">Product Pages</a>
              <!-- SVG ARROW -->
              <svg class="svg-arrow tiny">
                <use xlink:href="#svg-arrow"></use>
              </svg>
              <!-- /SVG ARROW -->

              <!-- MENU DROPDOWN -->
              <ul class="menu-dropdown">
                <!-- MENU DROPDOWN ITEM -->
                <li class="menu-dropdown-item">
                  <a href="/product-page-v1.html">Product Page V1</a>
                </li>
                <!-- /MENU DROPDOWN ITEM -->

                <!-- MENU DROPDOWN ITEM -->
                <li class="menu-dropdown-item">
                  <a href="/product-page-v2.html">Product Page V2</a>
                </li>
                <!-- /MENU DROPDOWN ITEM -->
              </ul>
              <!-- /MENU DROPDOWN -->
            </li>
            <!-- /MENU DROPDOWN ITEM -->
          </ul>
          <!-- /MENU DROPDOWN -->
        </li>
        <!-- /MAIN MENU ITEM -->

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/blog.html">Blogs</a>
        </li>
        <!-- /MAIN MENU ITEM -->

        <!-- MAIN MENU ITEM -->
        <li class="main-menu-item">
          <a href="/contactus.html">Contact</a>
        </li>
        <!-- /MAIN MENU ITEM -->
      </ul>
      <!-- /MAIN MENU -->
    </nav>
    <!-- /NAVIGATION -->
  </div>
  <!-- /NAVIGATION WRAP -->

  <!-- MOBILE MENU WRAP -->
  <div class="mobile-menu-wrap">
    <!-- MOBILE MENU CONTROL -->
    <div class="mobile-menu-control dropdown-control">
      <!-- SVG BURGER -->
      <svg class="svg-burger">
        <use xlink:href="#svg-burger"></use>
      </svg>
      <!-- /SVG BURGER -->
    </div>
    <!-- /MOBILE MENU CONTROL -->

    <!-- MOBILE MENU -->
    <ul class="mobile-menu dropdown">
      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/">Home</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/aboutus.html">About</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="#" class="dropdown-control">
          Shop
          <!-- SVG ARROW -->
          <svg class="svg-arrow medium rotable">
            <use xlink:href="#svg-arrow"></use>
          </svg>
          <!-- /SVG ARROW -->
        </a>

        <!-- MOBILE MENU DROPDOWN -->
        <ul class="mobile-menu-dropdown dropdown">
          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/shop-sidebar-grid.html">Sidebar 3 Col Grid</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/shop-grid.html">4 Columns Grid</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/shop-sidebar-list.html">Sidebar 3 Col List</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/shop-list.html">4 Columns List</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/product-page-v1.html">Product Page V1</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/product-page-v2.html">Product Page V2</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->
        </ul>
        <!-- /MOBILE MENU DROPDOWN -->
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/blog.html">Our Blog</a>
      </li>
      <!-- /MOBILE MENU ITEM -->
      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="#" class="dropdown-control">
          Features
          <!-- SVG ARROW -->
          <svg class="svg-arrow medium rotable">
            <use xlink:href="#svg-arrow"></use>
          </svg>
          <!-- /SVG ARROW -->
        </a>

        <!-- MOBILE MENU DROPDOWN -->
        <ul class="mobile-menu-dropdown dropdown">
          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/">StrikeX Home</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/product-builder-v1.html">Product Builder V1</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/product-builder-v2.html">Product Builder V2</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/blog.html">StrikeX Blog</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/post.html">Blog Post</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/contactus.html">Contact Page</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/404.html">Error Page</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/aboutus.html">About Us</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/menu-dropdowns.html">Menu &amp; DDowns</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/shortcodes.html">Shortcodes</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/login-popup.html">Login Popup</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/ratings-popup.html">Ratings Popup</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/shop-sidebar-grid.html">Sidebar 3 Col Grid</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/shop-grid.html">4 Columns Grid</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/shop-sidebar-list.html">Sidebar 3 Col List</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/shop-list.html">4 Columns List</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/product-page-v1.html">Product Page V1</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/product-page-v1.html">Product Page V2</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/identification.html">Identification</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/billing-shipping.html">Billing and Shipping</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/confirmation.html">Confirmation</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/cart">Shopping Cart</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/wishlist.html">Wishlist</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li class="mobile-menu-dropdown-item">
            <a href="/profile.html">Your Account</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->
        </ul>
        <!-- /MOBILE MENU DROPDOWN -->
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/contactus.html">Contact</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/account">My Account</a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="/wishlist.html">
          Wishlist
          <span class="bold">4</span>
        </a>
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="#" class="dropdown-control">
          Language:
          <span class="selected-option language-selected-option">eng</span>
          <!-- SVG ARROW -->
          <svg class="svg-arrow medium rotable">
            <use xlink:href="#svg-arrow"></use>
          </svg>
          <!-- /SVG ARROW -->
        </a>

        <!-- MOBILE MENU DROPDOWN -->
        <ul class="mobile-menu-dropdown dropdown">
          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li data-language="eng" class="mobile-menu-dropdown-item language-option selected">
            <a href="#">eng</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li data-language="spa" class="mobile-menu-dropdown-item language-option">
            <a href="#">spa</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li data-language="ger" class="mobile-menu-dropdown-item language-option">
            <a href="#">ger</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->
        </ul>
        <!-- /MOBILE MENU DROPDOWN -->
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item">
        <a href="#" class="dropdown-control">
          Currency:
          <span class="selected-option currency-selected-option">usd</span>
          <!-- SVG ARROW -->
          <svg class="svg-arrow medium rotable">
            <use xlink:href="#svg-arrow"></use>
          </svg>
          <!-- /SVG ARROW -->
        </a>

        <!-- MOBILE MENU DROPDOWN -->
        <ul class="mobile-menu-dropdown dropdown">
          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li data-currency="usd" class="mobile-menu-dropdown-item currency-option selected">
            <a href="#">usd</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->

          <!-- MOBILE MENU DROPDOWN ITEM -->
          <li data-currency="euro" class="mobile-menu-dropdown-item currency-option">
            <a href="#">euro</a>
          </li>
          <!-- /MOBILE MENU DROPDOWN ITEM -->
        </ul>
        <!-- /MOBILE MENU DROPDOWN -->
      </li>
      <!-- /MOBILE MENU ITEM -->

      <!-- MOBILE MENU ITEM -->
      <li class="mobile-menu-item void">
        <a href="#">Logout</a>
      </li>
      <!-- /MOBILE MENU ITEM -->
    </ul>
    <!-- /MOBILE MENU -->
  </div>
  <!-- /MOBILE MENU WRAP -->

  <style>
    .main-menu .active,
    .main-menu .active > a,
    .main-menu .active a,
    .mobile-menu .active,
    .mobile-menu .active > a,
    .mobile-menu .active a {
      color: #fa4f09;
    }
    .main-menu .active > a::after,
    .mobile-menu .active > a::after {
      border-color: #fa4f09;
    }
  </style>
  <script>
    (function () {
      const normalize = (path) => path.replace(/\/+$/, '') || '/';
      const current = normalize(window.location.pathname);

      const markActive = (selector) => {
        document.querySelectorAll(selector).forEach((link) => {
          const href = link.getAttribute('href');
          if (!href || href.startsWith('#')) return;
          if (normalize(href) === current) {
            const item = link.closest('li');
            if (item) item.classList.add('active');
          }
        });
      };

      markActive('.main-menu a');
      markActive('.mobile-menu a');
    })();
  </script>
  <script>
    (function () {
      const dropdownItems = document.querySelector('.cart-dropdown-items');
      const subtotalEl = document.querySelector('.cart-dropdown-subtotal .product-price');
      const qtyEl = document.querySelector('.cart-item-quantity p');
      const checkoutBtn = document.getElementById('headerCheckoutButton');

      if (!dropdownItems || !subtotalEl || !qtyEl) return;

      const currencySymbol = (code) => {
        switch ((code || 'GBP').toUpperCase()) {
          case 'USD': return '$';
          case 'EUR': return '\u20AC';
          default: return '\u00A3';
        }
      };

      const renderEmpty = () => {
        dropdownItems.innerHTML = '<p class="product-description small">Your cart is empty.</p>';
        subtotalEl.textContent = '\u00A30.00';
        qtyEl.textContent = '0';
        if (checkoutBtn) checkoutBtn.setAttribute('href', '/cart');
      };

      const refreshHeaderCart = () => {
        fetch('/api/v1/cart/summary')
          .then((res) => res.ok ? res.json() : null)
          .then((data) => {
            if (!data || !Array.isArray(data.items) || data.items.length === 0) {
              renderEmpty();
              return;
            }

            const symbol = currencySymbol(data.currency);
            qtyEl.textContent = String(data.count || 0);
            subtotalEl.textContent = `${symbol}${(data.subtotal || 0).toFixed(2)} GBP`;
            if (checkoutBtn) {
              const cartId = data.cartId;
              checkoutBtn.setAttribute('href', cartId ? `/checkout/${cartId}` : '/cart');
            }

            dropdownItems.innerHTML = data.items.map((item) => {
              const img = item.image && (item.image.startsWith('http') || item.image.startsWith('/'))
                ? item.image
                : `/${item.image || 'img/products/01.jpg'}`;
              const lineTotal = (item.price || 0) * (item.quantity || 1);
              const productUrl = (item.category && item.title)
                ? `/products/${encodeURIComponent(item.category)}/${encodeURIComponent(item.title)}`
                : '/cart';
              return `
                <div class="cart-dropdown-item">
                  <a href="${productUrl}">
                    <figure class="product-img small">
                      <img src="${img}" alt="${item.title}">
                    </figure>
                  </a>
                  <div class="cart-dropdown-item-info">
                    <a href="${productUrl}"><h6 class="title small">${item.title}</h6></a>
                    <p class="product-description small">${item.description || ''}</p>
                    <p class="product-quantity">x${item.quantity}</p>
                    <p class="product-price">${symbol}${lineTotal.toFixed(2)}</p>
                  </div>
                  <svg class="svg-cross medium remove-cart-item" data-product-id="${item.id}">
                    <use xlink:href="#svg-cross"></use>
                  </svg>
                </div>
              `;
            }).join('');

            dropdownItems.querySelectorAll('.remove-cart-item').forEach((icon) => {
              icon.addEventListener('click', (event) => {
                event.preventDefault();
                event.stopPropagation();
                const productId = icon.getAttribute('data-product-id');
                if (!productId) return;
                const row = icon.closest('.cart-dropdown-item');
                if (row) row.classList.add('is-removing');
                fetch('/api/v1/cart/remove', {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' },
                  body: JSON.stringify({ productId })
                })
                  .then((res) => res.ok ? res.json() : null)
                  .then(() => refreshHeaderCart())
                  .catch(() => {});
              });
            });
          })
          .catch(() => renderEmpty());
      };

      window.refreshHeaderCart = refreshHeaderCart;
      refreshHeaderCart();
    })();
  </script>
