<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="main-menu">
                <li>
                    <a href="/">Home </a>
                </li>
                <li>
                    <a href="#0">Products <i class="fa-regular fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li class="subtwohober">
                            <a href="shop.html">
                                Soft Lures
                            </a>
                        </li>
                        <li class="subtwohober">
                            <a href="shop-2.html">
                                Hard Lures
                            </a>
                        </li>
                        <li class="subtwohober">
                            <a href="shop-single.html">
                                Injection Molds
                            </a>
                        </li>
                        <li class="subtwohober">
                            <a href="cart.html">
                                Open Pour Molds
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="contact.html">About</a>
                </li>
                
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>

                
            </ul>
            <div class="shipping__item d-none d-sm-flex align-items-center">
                <div class="menu__right d-flex align-items-center">
                    <div class="content">
                        <p style="text-transform: lowercase;">
                            <i class="fas fa-envelope"></i> <a href="" target="_blank"> &nbsp;&nbsp; contact@strikex.com </a>
                            <br><i class="fas fa-phone-alt"></i> <a href="" target="_blank"> &nbsp;&nbsp; 0123456789 </a>
                        </p>
                    </div>
                </div>


                <div class="menu__right d-flex align-items-center">
                    <div class="thumb">
                        <img src="/assets/images/flag/shipping.png" alt="image">
                    </div>
                    <div class="content">
                        <p>
                            Free Shipping <br> on order <strong>over &pound;10</strong>
                        </p>
                    </div>
                </div>
                  
                
            </div>
        </div>
    </div>
</header>


